/* BundleDetails.css */

.bundleDetails {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  color: #333; 
  padding: 20px;
}

.bundleDetails img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.bundleItem {
  margin-bottom: 15px;
}

.bundleDetails h2 {
 font-size: 1.5em;
 margin-bottom: 10px;
}
  
.bundleDetails h3 {
 font-size: 1.2em;
 color: #555;
}
  
