/* BundleDetailsModal.css */

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    max-height: 80vh; 
    overflow-y: auto; 
    width: 60%; 
    max-width: 600px; 
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
  }
  .modal-content::-webkit-scrollbar {
    display: none;
  }
  .modal-content {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }

